<div class="container mt-4">
  <div class="d-flex justify-content-end my-3">
    <button class="btn btn-outline-secondary" (click)="goToDashboard()">Revenir au menu</button>
  </div>

  <h3>📘 Mes Devoirs et Notes</h3>

  <table class="table table-striped mt-3">
    <thead>
    <tr>
      <th>Cours</th>
      <th>Module</th>
      <th>Devoir</th>
      <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of submissions">
      <td>{{ s.courseTitle }}</td>
      <td>{{ s.moduleTitle }}</td>
      <td>{{ s.assignmentTitle }}</td>
      <td>
        <span *ngIf="s.grade !== null">{{ s.grade }}/20</span>
        <span *ngIf="s.grade === null">Non évalué</span>
      </td>
    </tr>
    <tr *ngIf="submissions.length === 0">
      <td colspan="4" class="text-center">Aucun devoir trouvé</td>
    </tr>

    </tbody>
  </table>
</div>
