<div class="container mt-4">
  <h3>Choisissez vos cours</h3>
  <form>
    <div *ngFor="let course of courses" class="form-check">
      <input class="form-check-input" type="checkbox"
             [value]="course._id!" (change)="toggleSelection(course._id!)">
      <label class="form-check-label">{{ course.title }}</label>
    </div>
  </form>

  <button class="btn btn-primary mt-3" (click)="saveCourses()">Enregistrer</button>
  <button class="btn btn-secondary mt-3 ms-2" routerLink="/dashboard">Retour au tableau de bord</button>
</div>
